/* utilities.css */

/* cell content alignment utilities */

.align-top {
  align-self: start;
}

.align-middle {
  align-self: center;
}

.align-bottom {
  align-self: end;
}

/* text alignment utilities */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}